.canvas {
  margin: 20px;
  width: 90px;
  height: 90px;
  transition: width 1s , height 1s , margin 1s;
}

.canvas--shrink {
  margin: 0px;
  width: 0px;
  height: 0px;
}

.canvas--grow {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}
